.work-css{
   background: rgba(233, 233, 240, 0.946);   
   margin: auto;
   margin-top: 2rem;
   align-items: center;
   width: 340px;
   height: 200px;
   border: 3px solid #73AD21;
   padding: 10px;
}


.bank{
    background: rgba(233, 233, 240, 0.946);     
    margin: auto;
    margin-top: 2rem;
    align-items: center;
    
    width: 340px;
    height: 200px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.store {
    background: rgba(233, 233, 240, 0.946);
    
}

.computer{
    
    background: rgba(233, 233, 240, 0.946);     
    margin: auto;
    margin-top: 2rem;
    align-items: center;

    width: 340px;
    height: 200px;
    border: 3px solid #73AD21;
    padding: 10px;
}
